/* Flexbox styling for the card container */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.card {
  flex: 1 1 300px; /* Flexible width, minimum 300px */
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

