#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #f0f8ff; /* Light Blue Background */
  color: #333; /* Dark Text for readability */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  text-align: left ;
  background-color: rgb(48, 48, 49);
  color: white;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card-container {
  display: flex; /* Enable Flexbox */
  gap: 16px; /* Space between cards (optional) */
  justify-content: flex-start; /* Align items to the start (options: center, space-between, etc.) */
}

.card {
  width: 200px;
  height: fit-content;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
}

.myPhoto {
  max-height: 400px;
  max-width: 600px;
}


.read-the-docs {
  color: #888;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 45%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #e9e5e5;
}

.footer-gif {
  width: 60px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s;
}

.footer-gif:hover {
  transform: scale(1.1);
}

.nav-link {
  color:#333;
}
